<div>
  <h1>Form extensibility model</h1>
  <button type="button" routerLink="/checkbox">checkbox</button>
  <button type="button" routerLink="/dropdown">dropdown</button>
  <button type="button" routerLink="/onblur">onblur</button>
  <button type="button" routerLink="/validation-call">validation call</button>
  <button type="button" routerLink="/navigation">navigation</button>
  <button type="button" routerLink="/dialogue-product">dialogue product</button>
  <button type="button" routerLink="/dialogue-product-spain">
    dialogue product Spain
  </button>

  <p></p>
  <p></p>
  <p></p>
  <router-outlet></router-outlet>
  <p></p>
  <p></p>
  <p></p>
</div>
