<div>
  <h1>Form extensibility model</h1>
  <h2>Product Form for Identification data</h2>
  <app-product-form-identification-data></app-product-form-identification-data>
  <p></p>
  <p></p>
  <p></p>
  <h2>Generali Form for Identification data</h2>
  <app-generali-form-identification-data></app-generali-form-identification-data>
  <p></p>
  <p></p>
  <p></p>
  <h2>Product Form for Address</h2>
  <app-product-form-address></app-product-form-address>
  <p></p>
  <p></p>
  <p></p>
  <h2>Generali Form for Address</h2>
  <app-generali-form-address></app-generali-form-address>
</div>
