<div>
  <h1>Form extensibility model</h1>
  <button type="button" routerLink="/checkbox">checkbox</button>
  <button type="button" routerLink="/dropdown">dropdown</button>
  <p></p>
  <p></p>
  <p></p>
  <router-outlet></router-outlet>
  <p></p>
  <p></p>
  <p></p>

  <!--  <app-product-form-identification-data></app-product-form-identification-data>
  <p></p>
  <p></p>
  <p></p>
  <app-generali-form-identification-data></app-generali-form-identification-data>
  <p></p>
  <p></p>
  <p></p>
  <app-product-form-address></app-product-form-address>
  <p></p>
  <p></p>
  <p></p>
  <app-generali-form-address></app-generali-form-address>
  <p></p>
  <p></p>
  <p></p>
  <button (click)="startNavigation()">Start Navigation</button>
  <p></p>
  <p></p>
  <p></p> -->
</div>
