<h2>{{ title }}</h2>
<div>
  <form [formGroup]="form">
    <div *ngFor="let element of elements" class="form-row">
      <div [ngSwitch]="element.componentType">
        <app-dynamic-form-section
          *ngSwitchCase="'Section'"
          [section]="getSection(element)"
          [form]="form"
        ></app-dynamic-form-section>

        <app-question
          *ngSwitchCase="'Question'"
          [question]="getQuestion(element)"
          [form]="form"
        ></app-question>

        <button
          *ngSwitchCase="'Action'"
          [disabled]="!form.valid"
          (click)="getAction(element).function(form.value, stateService)"
        >
          {{ getAction(element).name }}
        </button>
      </div>
    </div>
  </form>

  <div *ngFor="let message of messages" class="form-row">
    <strong>Message from service</strong><br />{{ message }}
  </div>
</div>
